<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/dashboard" class="brand-link">
        <img
            src="/admin-lte/dist/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8"
        />
        <span class="brand-text font-weight-light"><%= name %></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul
                class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
            >
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Beranda</p>
                    </a>
                </li>

                <li class="nav-header">Admin</li>

               
                <li class="nav-item">
                    <a href="/catatan/create" class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>Isi Catatan</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/catatan" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>Catatan Perjalanan</p>
                    </a>
                </li>
                <form action="/logout?method=DELETE" method="post">
                <li class="nav-item">
                    <button  class="nav-link">
                        <i class="nav-icon far fa-leave"></i>
                        <p>LogOut</p>
                    </button>
                </li></form>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
